@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

#wrapper{
    /*Khinh thước màng hình 1280 * 720 */
    width: 100%;
    height: 100vh;
}
#header{
    width: 100%;
    padding: 0px 30px;
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-logo {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

#nav-button a{
    font-size:25px; 
    color:rgb(19, 17, 17);
    text-align: center;
}
#nav-button a i{
    padding-right: 15px;
}
#nav-button .btn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(72, 67, 67, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}
#nav-button .btn .login{
    text-decoration: none;
    color: black;
   font-size: 15px;
}
.btn:hover{
    background: rgba(26, 23, 23, 0.3);
}
#menu ul {
    display: flex; 
    list-style-type: none;
}
#menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #141313;
    padding-bottom: 15px;
    margin: 0 25px;
    padding: 10px;
}
#menu{
   padding: 45px 0px 0px 80px;
}
.search{
    background-color: #888484;
    width: 220px;
    height: 30px;  
    border-radius:50px ; 
    padding:2px 25px;
    padding-left: 10px;
}
.search input{
    width: 164px;
    border: none;
    outline: none;
    background: none;
    font-size: 15px;
}
.link:hover, .active{
    border-bottom: 2px solid #1b1919;
}
/* Thong tin */
#wp-thongtin{
    padding-left: 100px;
    padding-right: 100px;
    border-top:3px solid rgb(48, 46, 45);
}
#wp-thongtin h3{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 80px;
    padding-right: 60px;
}
.form-anh img{
    width: 330px;
    height: 380px;
    padding-left: 10px;
}
.form-anh .anh{
    text-align: center;
    margin: 0px auto;
    background: #1b1919;
}
.form-thongtin .thongtin{
padding-left: 100px;
padding-top: 40px;
}
h4{
    padding-top: 90px;
    padding-left: 73px;
}
form{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.name-capnhat p{
    padding-bottom: 5px;
}
.input-name{
    padding-left: 40px;
    
}
.input-name p input {
    padding-right: 90vh;
}
#wrapper-capnhat button{
    border-radius: 10px;
    font-size: 15px;
    padding: 10px;
    border: none;
}
.nut{
   text-align: center;
   padding-top: 40px;
}
/* foorter */
#foorter {
    width: 100%;
    height: 322px;
    background: rgb(9, 9, 9);
    margin-top: 120px;
    padding: 0px 63px;
    padding-top: 57px;
    display: flex;
    justify-content: space-around;
   
}
#foorter .box{
    width: 250px;
}
#foorter .box h3{
    padding-bottom: 20px;
    color: white;
}
#foorter .box .logo{
    padding-bottom: 20px;
}
#foorter .box .quick-menu .item{
    margin-bottom: 12px;
}
#foorter .box .quick-menu, .item a{
    text-decoration: none;
    color: white;
}
#foorter .box .nav{
    display: flex;
    list-style: none;
    padding-left: 50px;
    color: beige;
}
#foorter .box .nav a{
   font-size: 20px;
   padding: 10px;
   color: #fff;
}