*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

#wrapper{
    /*Khinh thước màng hình 1280 * 720 */
    width: 100%;
    height: 100vh;
}
#header{
    width: 100%;
    padding: 0px 30px;
    margin-bottom: 15px;
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-logo {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

#nav-button a{
    font-size:25px;
    color:rgb(19, 17, 17);
    text-align: center;
}
#nav-button a i{
    padding-right: 15px;
}
#nav-button .btn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(72, 67, 67, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}
#nav-button .btn .login{
    text-decoration: none;
    color: black;
   font-size: 15px;
}
.btn:hover{
    background: rgba(26, 23, 23, 0.3);
}
#menu ul {
    display: flex;
    list-style-type: none;
}
#menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #f9f3f3;
    padding-bottom: 15px;
    margin: 0 25px;
    padding: 10px;
}
#menu{
    border-top: 2px solid;
   padding: 35px 0px 0px 80px;
   background: black;
   padding-bottom: 20px;
}
.search{
    background-color: #888484;
    width: 220px;
    height: 30px;
    border-radius:50px ;
    padding:2px 25px;
    padding-left: 10px;
}
.search input{
    width: 164px;
    border: none;
    outline: none;
    background: none;
    font-size: 15px;
}
.link:hover, .active{
    border-bottom: 2px solid #f7f3f3;
}
#banner-home {
    position: relative;
    width: 100%;
    background-image: url('../img/nen.jpg');
    height: 450px;
    margin-top:10px ;
    display: flex;
    padding: 0px 75px;
    box-shadow: 0px 5px rgb(159, 154, 154);
}
#banner-home .box-left-home, #banner-home .box-right-home{
    width: 50%;
}
#banner-home .box-left-home h2{
    font-size: 48px;
    margin-top: 75px;
    color: #fff;
}
#banner-home .box-left-home p{
    color: #d0d0d0;
}
#banner-home .box-left-home button{
    width: 191px;
    height: 40px;
    margin-top: 41px;
    background: #1d1a11;
    border: none;
    outline: none;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.4s;
}
#banner-home .box-right-home{
    padding-left: 90px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner-home .box-right-home img{
    margin: 0px 10px;
    width: 120px;
    height:380px;
    border-radius: 50px;
    animation: animation 3s infinite linear;

}
#banner-home .box-right-home img:nth-child(1){
animation-delay: 0.5s;
}
#banner-home .box-right-home img:nth-child(2){
    animation-delay:1s ;
}

@keyframes animation{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}
#wp-products{
    padding-top: 50px;
    padding-bottom: 78px;
    padding-left: 70px;
    padding-right: 70px;
    padding-left: 100px;
}
#wp-products h2{
    text-align: center;
    margin-bottom: 76px;
    margin-top: 50px;
    font-size: 32px;
    color: #626a62;
}

#list-products{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#list-products .item{
    width: 300px;
    height: 490px;
    background: #f8f8ef;
    border-radius: 10px;
    margin-bottom: 50px;
    text-align: center;
    transition: 0.5s;
}
#list-products .item:hover{
    box-shadow: 3px 3px 3px 3px rgb(86, 89, 76);
}
#list-products .item img{
    width: 230px;
    height: 250px;
    display: block;
    margin: 0px auto;
    margin-top: 17px;
    border-radius: 5px;
    transition: scale 400ms
}
.item:hover img {
     scale:110%;
}
#list-products .item .name{
    height: 80px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    margin-top: 21px;

}
#list-products .item .price{
    color: black;
    font-weight: bold;
    margin-top: 20px;
}
#list-products .item .add{
    display: flex;
    margin-top: 20px;
    padding-left: 20px;
}
.product-dohang{
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    transition: 0.4s;
}
.product-yeuthich{
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding-left: 40px;
    padding-right: 40px;
    transition: 0.4s;
}
#list-products .item .add a{
    color: #b5a3a3;
    text-decoration: none;
}
.product-yeuthich:hover{
    padding: 10px;
    background: #f0cfcf;
    border-radius: 5px;
}
.product-dohang:hover{
    padding: 10px;
    background: #f0cfcf;
    border-radius: 10px;
}
.list_page{
    width: 50%;
    margin: 0px auto;
}
.list_page {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.list_page .page{
    margin: 0px 15px;
    width: 37px;
    height: 37px;
    background: #1d1a11;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list_page .page a{
    color: white;
    text-decoration: none;
}
/* ---------------------------------------------THƯƠNG HIÊU --------------------------------------------*/
#wp-thuonghieu{
    width: 1012px;
    height: 478px;
    margin: 0px auto;
    margin-top: 184px;
    margin-bottom: -360px;
}
#list-th{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 130px;
    list-style: none;
    overflow: hidden;
}

#list-th .anh{
    display: flex;
    padding: 10px;
}
.list-item-th {
    width: 100%;
    height: 100%;
    /* padding-top: 20px; */
    transition: 0.4s;
}
#list-th .item-th img{
    border-radius: 10px;
    padding: 26px;
    width: 197px;
    height: 100px;
}

.item-th img:hover{
    box-shadow: 2px 2px 2px 2px yellow;
}

#list-th ul li{
    list-style: none;
    overflow: hidden;
}
.arrow-left img{
    width: 100px;
    height: 100px;
}
.arrow-next img{
    width: 100px;
    height: 100px;
}
/* --------------------------------------------- FOORTER --------------------------------------------*/
#foorter {
    width: 100%;
    height: 322px;
    background: rgb(9, 9, 9);
    margin-top: 200px;
    padding: 0px 63px;
    padding-top: 57px;
    display: flex;
    justify-content: space-around;

}
#foorter .box{
    width: 250px;
}
#foorter .box h3{
    padding-bottom: 20px;
    color: white;
}
#foorter .box .logo{
    padding-bottom: 20px;
}
#foorter .box .quick-menu .itemm{
    margin-bottom: 12px;
}
#foorter .box .quick-menu, .itemm a{
    text-decoration: none;
    color: white;
}
#foorter .box .nav{
    display: flex;
    list-style: none;
    /* padding-left: 50px; */
    color: beige;
}
#foorter .box .nav a{
   font-size: 20px;
   padding: 10px;
   color: #fff;

}
.toptop{
    position: fixed;
    right: 3px;
    bottom: 5px;
    border:1px solid #d6d6d6;
    color: #fcfdfe;
    padding: 10px;
    background: #333;
}

/* ---------------------------------------------TRANG LIEN HE --------------------------------------------*/


#wp-lienhe h3{
    text-align: center;
    padding-top: 50px;
    padding-left: 65px;
    padding-bottom: 10px;
    padding-right: 60px;
    border-top: 3px solid  rgb(48, 46, 45);
 }
 .row{
    width: 100%;
    display: flex;
 }
.row .col-6{
    padding: 70px;
}
.mess{
    padding-left: 60px;
    padding-right: 80px;
}
.mess input{
    padding-bottom: 130px;
}
.nut{
    text-align: center;
    padding-top: 40px;

 }
 .nut button{
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
 }
.from-lienhe{
    padding-left:40px;
}
 /* ---------------------------------------------TRANG INFORMATION--------------------------------------------*/
 #wp-thongtin{
    padding-left: 170px;
    padding-right: 100px;
    border-top:3px solid rgb(48, 46, 45);
}
#wp-thongtin h3{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 80px;
    padding-right: 60px;
}
.form-anh img{
    width: 330px;
    height: 380px;
    padding-left: 10px;
}
.form-anh .anh{
    text-align: center;
    margin: 0px auto;
    background: #1b1919;
}
.form-thongtin .thongtin{
padding-left: 100px;
padding-top: 40px;
}
h4{
    padding-top: 90px;
    padding-left: 73px;
}
.form-infor{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.name-capnhat p{
    padding-bottom: 5px;
}
.input-name{
    padding-left: 40px;

}
.input-name p input {
    padding-right: 90vh;
}
#wrapper-capnhat button{
    border-radius: 10px;
    font-size: 15px;
    padding: 10px;
    border: none;
}
.nut{
   text-align: center;
   padding-top: 40px;
}

/* ---------------------------------------------TRANG HOT --------------------------------------------*/

.hot-header {
    padding-bottom: 120px;
  }
 .hot-header .hot-row .col{
  display: flex;
  padding-top: 25px;
  padding-bottom: 40px;
 }
 .hot-header .hot-row {
     text-align: center;
     padding-left: 85px;
     padding-top: 50px;
 }
 .hot-header .row .icon{
    padding: 20px;
    font-size: 20px;
 }
 .hot-header .row .icon i{
     font-size: 35px;
  }
 .loc{
     text-align: center;
 }
 .boloc{
     padding-top: 20px;
     padding-bottom: 20px;
 }
 .giatien{
     padding-left: 15px;
 }
 .chon-th{
     padding-left: 15px;
     padding-top: 10px;
 }
 .chon-th img{
     width: 110px;
     height: 50px;
     padding: 10px;
 }
 .chon-th  img:hover {
     box-shadow: 2px 2px 2px 2px yellow;
 }
 .chonmau {
     display: flex;
     padding-left: 100px;
 }
 .list-sanpham{
     display: flex;
     border-left: 2px solid gray;
     padding-left: 30px;
     width: 400px    ;
     height: 95%;

 }
 .list-sanpham .item{
     text-align: center;
     padding-top: 20px;
     padding: 20px;
     width: 245px;
     height: 450px;
     border-radius: 10px;
 }
 .hang1{
     display: flex;
 }
 .list-sanpham .item img{
     width: 200px;
     height: 170px;
     text-align: center;
     margin: 0px auto;
     margin-top: 17px;
     border-radius: 5px;
     transition: scale 400ms;
 }
 .item:hover img {
     scale:130%;
 }
 .item:hover{
    box-shadow: 3px 3px 3px 3px rgb(86, 89, 76);
 }
 .list-sanpham .item .name{
     color: black;
     font-weight: bold;
     margin-top: 21px;
     border-radius: 10px;
     /* background: #fdeaea; */
     padding: 10px;
     height: 80px;

 }
 .list-sanpham .item .price{
     color: black;
     font-weight: bold;
     margin-top: 20px;
     border-radius: 10px;
     /* background: #fdeaea; */
     padding: 10px;
 }
 #list-sanpham .item .add{
    display: flex;
    margin-top: 20px;
    padding-left: 20px;
}
 #list-sanpham .item .add  a{
    color: #b5a3a3;
    text-decoration: none;
}
.product-dohang{
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    transition: 0.4s;
}
.product-yeuthich{
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding-left: 40px;
    padding-right: 40px;
    transition: 0.4s;
}
.product-yeuthich:hover{
    padding: 10px;
    background: #f0cfcf;
    border-radius: 5px;
}
.product-dohang:hover{
    padding: 10px;
    background: #f0cfcf;
    border-radius: 5px;
}


 /* ---------------------------------------------TRANG SALE --------------------------------------------*/



#wp-sale .icon{
    padding: 20px;
    font-size: 20px;
 }
 #wp-sale .sale-top{
     display: flex;
     padding-top: 80px;
     padding-left: 110px;
 }
 .hot-header .row .icon i{
     font-size: 35px;
  }
  .sale-sanpham{
     padding-top: 50px;
     padding-bottom: 78px;
     padding-left: 70px;
     padding-right: 70px;
     padding-left: 100px;
 }
 .sale-sanpham h2{
     text-align: center;
     margin-bottom: 76px;
     margin-top: -10px;
     font-size: 32px;
     color: #626a62;
 }
 #list-sale{
     display: flex;
     list-style: none;
     justify-content: space-around;
     align-items: center;
     flex-wrap: wrap;
 }
 #list-sale .item{
     width: 260px;
     height: 510px;
     background: #f8f8ef;
     border-radius: 10px;
     margin-bottom: 50px;
     text-align: center;
     transition: 0.5s;
 }
 #list-sale.item:hover{
    box-shadow: 3px 3px 3px 3px rgb(86, 89, 76);
 }
 #list-sale .item img{
     width: 230px;
     height: 250px;
     display: block;
     margin: 0px auto;
     margin-top: 17px;
     border-radius: 5px;
     transition: scale 400ms;
 }
 .item:hover img {
     scale:130%;
 }
 #list-sale .item .name{
     color:black;
     height: 80px;
     font-weight: bold;
     font-size: 18px;
     margin-top: 21px;

 }
 #list-sale .item .price{
     color: black;
     font-weight: bold;
     margin-top: 20px;
 }
 #list-sale .item .price .price-real{
     color: #e31515;
     text-decoration: line-through;
     font-weight: bold;
     margin-top: 5px;
 }
 #list-sale .item .add{
    display: flex;
    margin-top: 20px;
    padding-left: 20px;
}
.product-dohang{
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    transition: 0.4s;
}
.product-yeuthich{
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding-left: 40px;
    padding-right: 40px;
    transition: 0.4s;
}
#list-sale .item .add a{
    color: #b5a3a3;
    text-decoration: none;
}
.product-yeuthich:hover{
    padding: 10px;
    background: #f0cfcf;
    border-radius: 5px;
}
.product-dohang:hover{
    padding: 10px;
    background: #f0cfcf;
    border-radius: 5px;
}
